/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 95vh;
    margin: 5vh;
}

#todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #232121;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #43576c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#todo-list {
    margin-top: 20px;
    text-align: left;
}

#todo-list div {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #todo-container {
        width: 95%;
    }
.delete-button{
    width: 40%;
    margin: 5px 0;
}
    button {
        width: 100%;
        margin: 5px 0;
    }

    input[type="text"] {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
